<section class="new-finance-application">

    <div class="px-5 py-3">
        <img src="../../../assets/logos/logo-aion-sidebar.svg" width="150px">
    </div>
    
    <div class="container mb-4">
        <div class="row justify-content-center">

            <div class="col-10 col-md-8">

                <div class="d-flex justify-content-between">
                    <a routerLink="/investor/product-management" class="text-decoration-none d-flex align-items-center"> <img class="me-1" src="./assets/icons/back.svg"> back </a>
                </div>

                <h1 class="fw-semibold mt-4">New Product</h1>

                <div class="card my-3 d-flex flex-row">

                    <div class="flex-fill border-end w-25">
                        <app-form-progress-list [navList]="navList" itemIndex="1">
                        </app-form-progress-list>
                    </div>
                    <div class="form flex-fill w-75">
                        <app-new-product-form [data]="data"></app-new-product-form>
                    </div>

                </div>

            </div>

        </div>
    </div>

    

</section>