<section class="subsidiaries">

    <div class="d-flex justify-content-between">
        <span class="fs-12 fw-semibold d-flex align-items-center">
            <img src="./assets/icons/info.svg" class="me-2">
            All the following information are validated and verified with trusted sources.&nbsp;
            <a href="">Learn More</a>
        </span>
        <button class="btn btn-outline-primary fs-12 fw-semibold px-4">Edit</button>
    </div>

    <div class="fw-semibold my-3">
        Subsidiaries
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Names</th>
                    <th>Type of Business</th>
                    <th>% Owned</th>
                    <th>Yearly Turnover</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>ABC Finance Company</td>
                    <td>Type of Business</td>
                    <td>10</td>
                    <td>10,000</td>
                </tr>

            </tbody>
        </table>
    </div>

</section>