
 <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <a class="text-decoration-none small">
                < Back </a>

                    <h2>Company Profile</h2>

                    <div class="row border">
                        <div class="col-3 border-end">

                            <app-form-progress-list [navList]="navList" itemIndex="1">
                            </app-form-progress-list>
                        </div>


                        <div class="px-5 col-md-9 p-5">

                            <h4>Business Activities</h4>
                            <small class="mt-2 small">Main Actiity</small>
                            <h6>Production & Manufacturing</h6>

                            <form>
                                <div class=" d-flex justify-content-between mt-3 ">

                                    <div class="form-group col-4">
                                        <!-- <label>Business Activity</label> -->
                                        <label class="fs-14 fw-semibold">
                                            Business Activity
                                        </label>
                                        <select class="form-select">
                                            <option value="6456 - Real Esate">6456 - Real Esate</option>
                                            <option>123</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <!-- <label for="inputState">Sub Category</label> -->
                                        <label class="fs-14 fw-semibold">
                                            Sub Category
                                        </label>
                                        <select class="form-select">
                                            <option value="6456-1-Construction, 6456-2-Manage.">6456-1-Construction,
                                                6456-2-Manage.</option>
                                            <option>123</option>
                                        </select>
                                    </div>

                                    <div class="form-group ">
                                        <div class="btn btn-outline-secondary mt-4">
                                            <img src="../../../../assets/icons/Vector.svg" width="20px">
                                        </div>
                                    </div>

                                </div>
                            </form>

                            <div class="mt-3">
                                <button type="button" class="btn btn-outline-primary">
                                    <img src="../../../../assets/icons/Vector (2).svg" width="15px" class="me-2">
                                    Another Business Activity</button>
                            </div>

                            <div>
                                <button routerLink="/auth/complete-profile-address" type="button" class="btn btn-primary my-3" style="width: 25%;">Next</button>
                            </div>

                        </div>

                    </div>
        </div>
    </div>
</div>