<section class="company-address">

    <div class="d-flex justify-content-between">
        <span class="fs-12 fw-semibold d-flex align-items-center">
            <img src="../../../../../assets/icons/info.svg" class="me-2">
            All the following information are validated and verified with trusted sources.&nbsp;
            <a href="">Learn More</a>
        </span>
        <button class="btn btn-outline-primary fs-12 fw-semibold px-4">Edit</button>
    </div>

    <div class="my-3">
        <span class="fw-semibold fs-18">National Address</span>
    </div>

    <div class="fw-semibold my-3">
        Registered Address
    </div>

    <div class="p-3 fs-14 fw-semibold rounded bg-light">

        <div class="row">
            <span class="col-md-4 col-12 ">Building Number</span>
            <span class="col-md-8 col-12  ">6676</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Additional Number</span>
            <span class="col-md-8 col-12 ">2345</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Street Name</span>
            <span class="col-md-8 col-12 ">Muhammad Manazir Street</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">City</span>
            <span class="col-md-8 col-12 ">Al Riyadh</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Zip Code</span>
            <span class="col-md-8 col-12 ">000000</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Unit Number</span>
            <span class="col-md-8 col-12 ">101</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">District</span>
            <span class="col-md-8 col-12 ">Riyadh</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Website</span>
            <span class="col-md-8 col-12 ">www.webaddress.com</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Email Address</span>
            <span class="col-md-8 col-12 ">infor@webaddress.com</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Phone Number</span>
            <span class="col-md-8 col-12 ">+966501234567</span>
        </div>
        
    </div>

    <div class="form-check mt-2 fs-12 fw-semibold text-secondary">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
        <label class="form-check-label" for="flexCheckChecked">
          Correspondence Address is not same as Registered Address
        </label>
    </div>

    <div class="fw-semibold my-3">
        Contact Person
    </div>

    <div div class="p-3 fs-14 fw-semibold rounded bg-light">

        <div class="row">
            <span class="col-md-4 col-12 ">Name</span>
            <span class="col-md-8 col-12 ">Ahmad Hussain</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Email Address</span>
            <span class="col-md-8 col-12 ">hussain@zerox.com</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Mobile Number</span>
            <span class="col-md-8 col-12 ">+966501234567</span>
        </div>

    </div>

</section>