<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="col-12">
                <a [routerLink]="['/auth/choose-signup-option']" class="text-decoration-none small">
                    < Back
                </a>
            </div>
            <div class="col-12 mt-3">
                <h3>Sign Up</h3>
            </div>
            <div class="col-12">
                <span class="small">Get financing in just few clicks</span>
            </div>
            <div class="col-12 mt-3">
                <div class="card text-center p-5">
                    <p class="my-3">Speed up Sign-up process using</p>
                    <a [routerLink]="['/auth/signup-with-abshar']" class="text-decoration-none ">
                        <div class="card p-3 card-blue">
                            <img src="../../../assets/images/abshar_logo.png" width="40px">
                            <span class="small">Sign-up with Abshar</span>
                        </div>
                    </a>
                    <a [routerLink]="['/auth/signup-with-email']" class="text-decoration-none mt-2">
                        <div class="card p-3 card-blue">
                            <i class="fa fa-envelope-o" aria-hidden="true"> </i>
                            <span class="small">Sign-up with Email</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>