<section class="finance-marketplace mx-3">
    
    <h1 class="fw-semibold my-4">Financing Offers</h1>

    <div class="d-flex my-4">
    
        <div class="p-3 flex-fill">

            <div class="row fw-semibold mb-3">
                <span class="col-8 fs-14">All Financing offer</span>
                <span class="col-4 fs-12 text-primary">Reset</span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">POS Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Invoice Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Contract Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Filter</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Project Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Working Cap</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Term Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Fleet Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Real Estate Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Payroll Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Car Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <div class="row fw-semibold my-2">
                <span class="col-8 fs-12 text-secondary">Business Financing</span>
                <span class="col-4 text-primary">
                    <input type="checkbox">
                </span>
            </div>

            <button class="btn btn-outline-primary w-100 fw-semibold">Apply</button>
    
        </div>

        <div class="flex-fill ms-3">
            
            <app-finance-brief-v2 [heading]="'Green Bank - POS Finance'" [imageUrl]="'./assets/company/company-1.svg'"></app-finance-brief-v2>
            <app-finance-brief-v2 [heading]="'UVW - POS Finance'" [imageUrl]="'./assets/company/company-2.svg'"></app-finance-brief-v2>
            <app-finance-brief-v2 [heading]="'XYZ Bank-Invoice Finance'" [imageUrl]="'./assets/company/company-3.svg'"></app-finance-brief-v2>

        </div>

    </div>

</section>