<section class="management-personnel">

    <div class="d-flex justify-content-between">
        <span class="fs-12 fw-semibold d-flex align-items-center">
            <img src="./assets/icons/info.svg" class="me-2">
            All the following information are validated and verified with trusted sources.&nbsp;
            <a href="">Learn More</a>
        </span>
        <button class="btn btn-outline-primary fs-12 fw-semibold px-4">Edit</button>
    </div>

    <div class="fw-semibold my-3">
        Management personel
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Names</th>
                    <th>Age</th>
                    <th>Title/Relationship</th>
                    <th>Country of legal Reside</th>
                    <th>Years with Company</th>
                    <th>Years of Experience</th>
                    <th>Qualification</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Muhammad Ali</td>
                    <td>20</td>
                    <td>Owner</td>
                    <td>UAE</td>
                    <td>10</td>
                    <td>20</td>
                    <td>Graduate</td>
                </tr>

            </tbody>
        </table>
    </div>

</section>