<section class="top-header">
    <div class="d-flex justify-content-between py-2">
        <div class="px-3">
            <div class="fs-4 lh-1">Golf BROG Co.</div>
            <small class="text-secondary">Last Login: 17/05/2023 09:00 AM</small>
        </div>
        <div class="px-3">
            <div class="d-flex">
                <img class="me-3" src="./assets/icons/mail.svg">
                <img class="me-3" src="./assets/icons/notification.svg">
                <div class="me-3">
                    <img src="./assets/images/profile.svg">
                </div>
                <div>
                    <span class="d-block">Tariq Mehmood</span>
                    <span class="text-secondary pointer" [routerLink]="['/client']" >Sign Out</span>
                </div>
            </div>            
        </div>
    </div>
</section>