<section class="top-header">
    <div class="d-flex justify-content-end py-2">
        <div class="px-3">Explore</div>
        <div class="px-3">What’s New</div>
        <div class="px-3">Special Offers</div>
        <div class="px-3">Talk to an Expert</div>
        <div class="px-3">
            <img class="me-3" src="./assets/icons/mail.svg">
            <img src="./assets/icons/notification.svg">
        </div>
        <div class="px-3 d-flex">
            <div class="me-3">
                <img src="./assets/images/profile.svg">
            </div>
            <div>
                <span class="d-block">Tariq Mehmood</span>
                <span class="text-secondary pointer" [routerLink]="['/auth/choose-signup-option']" >Sign Out</span>
            </div>
        </div>
    </div>
</section>