<section class="finance-brief">
    <div class="border bg-white rounded mb-3">
        <div class="row bg-light p-3 border-bottom m-0">
            <div class="col-6">
                <h5 class="">{{heading}}</h5>
            </div>
            <div class="col-6 text-end">
                <div class="form-check form-switch">
                    <label class="form-check-label me-5 small text-success" for="flexSwitchCheckChecked">Published</label>
                    <input class="form-check-input float-none" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                </div>
            </div>
        </div>

        <div class="d-flex mx-3 py-3 border-bottom">
            <div>
                <div class="d-flex flex-row">
                    <div class="d-flex flex-column mx-4">
                        <span class="fs-12 text-secondary fw-semibold">Minimum Revenue</span>
                        <span class="fs-18 fw-semibold">SAR 1,500,000</span>
                    </div>
                    <div class="d-flex flex-column mx-4">
                        <span class="fs-12 text-secondary fw-semibold">Monthly Payment</span>
                        <span class="fs-18 fw-semibold">SAR 1130,000</span>
                    </div>
                    <div class="d-flex flex-column mx-4">
                        <span class="fs-12 text-secondary fw-semibold">Rate p.a</span>
                        <span class="fs-18 fw-semibold">3.25%</span>
                    </div>
                    <div class="d-flex flex-column mx-4">
                        <span class="fs-12 text-secondary fw-semibold">Maximum Term</span>
                        <span class="fs-18 fw-semibold">4 Years</span>
                    </div>
                </div>

            </div>

            <div class="text-end" style="flex: auto;">
                <button class="btn btn-outline-primary me-2"><img src="./assets/icons/edit.svg"></button>
                <button class="btn btn-outline-primary">View</button>
            </div>

        </div>

        <div class="d-flex justify-content-between align-items-center py-3 mx-3 border-bottom">
            <div>
                <span class="fs-12 fw-semibold text-secondary d-block mb-1">Features</span>
                <button class="btn btn-sm btn-outline-secondary fw-semibold me-3">Relationship Manager</button>
                <button class="btn btn-sm btn-outline-secondary fw-semibold me-3">No Equity Required</button>
                <button class="btn btn-sm btn-outline-secondary fw-semibold me-3">No Minimum Balance</button>
            </div>

            <!-- <span class="border bg-light rounded-circle p-2">
            </span> -->
            <img class="border bg-light rounded-circle p-2 pointer" src="./assets/icons/add-plus.svg">
        </div>

        <div class="p-3 fs-14">
            <a href="" class="text-decoration-none m-3 fw-semibold">Required Documents</a>
            <a href="" class="text-decoration-none m-3 fw-semibold">Terms & Conditions</a>
            <a href="" class="text-decoration-none m-3 fw-semibold">Eligibility</a>
        </div>

    </div>

</section>