<section class="review-details">

    <div class="fs-12 fw-semibold">
        <img src="./assets/icons/info.svg" class="me-2">
        All the following information are validated and verified with trusted sources.&nbsp;
        <a href="">Learn More</a>
    </div>

    <div class="container px-3">

    <div class="mt-4 mb-3">
        Basic Information
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Company Name
        </div>
        <div class="col-9">
            Gulf BROG General Contracting Co.
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Commercial Registration No.
        </div>
        <div class="col-9">
            278346823764
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Date of issue
        </div>
        <div class="col-9">
            12 Dec 2022
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Date of expiry
        </div>
        <div class="col-9">
            12 Dec 2028
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Legal Entity Type​
        </div>
        <div class="col-9">
            L.L.C.
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Business Activities
        </div>
        <div class="col-9">
            General Trading
        </div>
    </div>

    <div class="mt-4 mb-3">
        Finance Application
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Application ID
        </div>
        <div class="col-9">
            POS-01022023-001
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Application Date
        </div>
        <div class="col-9">
            23 Feb 2023
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Product Type
        </div>
        <div class="col-9">
            POS Finance
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Finance Amount
        </div>
        <div class="col-9">
            SAR 1,500,000
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Tenor
        </div>
        <div class="col-9">
            4 Years
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Rate
        </div>
        <div class="col-9">
            3.5%
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Purpose of Finance
        </div>
        <div class="col-9">
            Working Capital
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Utilization of Finance
        </div>
        <div class="col-9">
            Purchase of Inventory
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Installment Date
        </div>
        <div class="col-9">
            18th day of the month
        </div>
    </div>

    <div class="mt-4 mb-3">
        Relationship Details
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            CIF Number
        </div>
        <div class="col-9">
            CIF Number
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Account Number & Type
        </div>
        <div class="col-9">
            6080 1016 7519 – Current Account
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Account Balance
        </div>
        <div class="col-9">
            SAR 821,846 <a class="text-decoration-none">Details & activity</a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Customer Since
        </div>
        <div class="col-9">
            12 Aug 1994
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Relationship Balance
        </div>
        <div class="col-9">
            SAR 2,821,846 <a class="text-decoration-none">Details</a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Total Deposits Under Lien
        </div>
        <div class="col-9">
            SAR 2,000,000 <a class="text-decoration-none">Details</a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Total Finance Utilized
        </div>
        <div class="col-9">
            SAR 650,000 <a class="text-decoration-none">Details</a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Total Finance Limit
        </div>
        <div class="col-9">
            SAR 100,000 <a class="text-decoration-none">Details</a>
        </div>
    </div>

    <div class="mt-4 mb-3">
        POS Details
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS Bank Name 
        </div>
        <div class="col-9">
            Green Bank
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS Since
        </div>
        <div class="col-9">
            12 Aug 1994
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS Bank Account Number
        </div>
        <div class="col-9">
            SA03 8000 0000 6080 1016 7519
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <div class="col-3">
            POS Documents
        </div>
        <div class="col-9">
            <a class="text-decoration-none">Download All</a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS Account Statement
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Sales and Profit Statement
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS History Statement
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row mt-4 mb-3">
        <div class="col-3">
            Additional Documents
        </div>
        <div class="col-9">
            <a class="text-decoration-none">Download All</a>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Company Account Statement (Last 12 Months)
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS Account Statement  (Last 12 Months)
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS History Statement (Last 12 Months)
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Sales and Profit Report (Last 12 Months)
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            SIMAH Credit Report
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS Projections (if any)
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Guarantee Collateral (if any)
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            POS Assignment Agreement
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Finance Offer Agreement 
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 text-secondary">
            Terms and Conditions Agreement 
        </div>
        <div class="col-9">
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/pdf.svg"> View
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/history.svg"> Version History
            </button>
            <button class="btn btn-sm btn-outline-primary me-3">
                <img src="./assets/icons/comments.svg"> Comments
            </button>
        </div>
    </div>
        
    </div>

</section>