<section class="sidebar">

    <div class="d-flex flex-column flex-shrink-0 p-3 bg-white border-end min-vh-100 h-100">
        <!-- <a href="/" class="d-flex mb-3 mb-md-0 link-dark text-decoration-none fw-bold">
            FUND <span class="text-primary">EASY</span>
        </a> -->
        <div class="text-center">
          <img src="../../../assets/logos/logo-aion-sidebar.svg" width="150px">
        </div>
    
        <ul class="nav nav-pills flex-column mb-auto mt-5 fw-semibold">

          <li *ngFor="let item of navList; index as i">
            <a [routerLink]="item.url" class="nav-link link-secondary" routerLinkActive="active">
                <img [src]="item.iconUrl" class="me-1" width="16" height="16"/>
                {{item.name}}
            </a>
          </li>
          
          <!-- <li class="nav-item">
            <a routerLink="home" class="nav-link link-secondary active" aria-current="page">
                <img src="./assets/icons/sidebar/home.svg" class="me-1" width="16" height="16"/>
                Home
            </a>
          </li>
          <li>
            <a routerLink="company-information" class="nav-link link-secondary">
                <img src="./assets/icons/sidebar/company-info.svg" class="me-1" width="16" height="16"/>
                Company Information
            </a>
          </li>
          <li>
            <a routerLink="finance-application" class="nav-link link-secondary">
                <img src="./assets/icons/sidebar/finance-application.svg" class="me-1" width="16" height="16"/>
                Finance Application
            </a>
          </li>
          <li>
            <a routerLink="finance-marketplace" class="nav-link link-secondary">
                <img src="./assets/icons/sidebar/finance-marketplace.svg" class="me-1" width="16" height="16"/>
                Finance Marketplace
            </a>
          </li>
          <li>
            <a routerLink="finance-calculator" class="nav-link link-secondary">
                <img src="./assets/icons/sidebar/finance-calculator.svg" class="me-1" width="16" height="16"/>
                Finance Calculators
            </a>
          </li> -->
        </ul>
    
    </div>

</section>