<section class="banking-relationship">

    <div class="d-flex justify-content-between">
        <span class="fs-12 fw-semibold d-flex align-items-center">
            <img src="./assets/icons/info.svg" class="me-2">
            All the following information are validated and verified with trusted sources.&nbsp;
            <a href="">Learn More</a>
        </span>
        <button class="btn btn-outline-primary fs-12 fw-semibold px-4">Edit</button>
    </div>

    <div class="fw-semibold my-3">
        Banking Relationship
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="2">POS Terminals</th>
                    <th rowspan="2">No Facilities</th>
                    <th colspan="2">Facilities</th>
                    <th rowspan="2">Bank Name</th>
                </tr>
                <tr>
                    <th>Non Funded</th>
                    <th>Non Funded</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>POS Terminals</td>
                    <td>No Facilities</td>
                    <td>Non Funded</td>
                    <td>Funded</td>
                    <td>10,000</td>
                </tr>

            </tbody>
        </table>
    </div>

</section>