<div class="card" style="width: 100%;">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div>
            Current Account
            <img src="./assets/icons/edit.svg" alt="" class="mx-2">
          </div>
          <span class="text-secondary">Available Balance</span>
          <h4 class="my-4">SAR 624,999,999</h4>
        </div>
        <div class="col-8">
            <button class="btn btn-outline-primary rounded-5" style="width: 100%;">
                Transfer
            </button>
        </div>
        <div class="col-4">
            <button class="btn btn-outline-secondary rounded-5" style="width: 100%;">
                ...
            </button>
        </div>
      </div>
    </div>
  </div>