

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <a routerLink="/auth/complete-profile-address-ownership" class="text-decoration-none small">
                < Back </a>
                    <h2 class="py-4">Company Profile</h2>
            <div class="row border">
                <div class="col-3 border-end">
                    <app-form-progress-list [navList]="navList" itemIndex="4">
                    </app-form-progress-list>
                </div>

                <div class="px-5 col-md-9 p-5">
                    <div class="my-3">
                        <h3>Financial Information</h3>
                    </div>
                
                    <div class="table-responsive mt-3">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Document Name</th>
                                    <th class="text-center">Actions</th>
                                    
                                </tr>
                            </thead>
                
                            <tbody>
                                <tr>
                                    <td>In-house Financials</td>
                                    <td class="text-center text-primary">Upload</td>
                                    
                                </tr>

                                <tr>
                                    <td>Account Statement(s)</td>
                                    <td class="text-center text-primary">Upload</td>
                                    
                                </tr>

                                <tr>
                                    <td>POS Statement</td>
                                    <td class="text-center text-primary">Upload</td>
                                    
                                </tr>
                
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <button routerLink="/home" type="button" class="btn btn-primary my-3" style="width: 20%;">Next</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>