
<section class="review-application">

    <div class="px-5 py-3">
        <img src="../../../assets/logos/logo-aion-sidebar.svg" width="150px">
    </div>
    
    <div class="container mb-4">
        <div class="row justify-content-center">

            <div class="col-10 col-md-8">

                <div class="d-flex justify-content-between">
                    <a routerLink="/form/finance-application-eligibility" class="text-decoration-none d-flex align-items-center"> <img class="me-1" src="./assets/icons/back.svg"> back </a>
                    <a routerLink="/finance-application" class="text-decoration-none d-flex align-items-center"> Close Application <img class="ms-1" src="./assets/icons/close.svg"> </a>
                </div>

                <h1 class="fw-semibold mt-4">Finance Application</h1>
                <div class="fs-12 fw-semibold text-secondary">Get financing in just few clicks</div>

                <div class="card my-3 d-flex flex-row">

                    <div class="flex-fill border-end w-25">
                        <app-form-progress-list [navList]="navList" itemIndex="3">
                        </app-form-progress-list>
                    </div>

                    <div class="form flex-fill w-75 p-5 fw-semibold">

                        <form>
                            <h2 class="mb-3">Invoice Review Application</h2>
                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Invoice Reference
                                    </label>
                                    <div class="fs-18">3450.02</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Invoice Creation Date
                                    </label>
                                    <div class="fs-18">17/05/2023</div>
                                </div>                        
                            </div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Commodity Details
                                    </label>
                                    <div class="fs-18">00.0456</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Discount Percentage
                                    </label>
                                    <div class="fs-18">1.2%</div>
                                </div>                        
                            </div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Tax Percentage
                                    </label>
                                    <div class="fs-18">2.5%</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Associated party
                                    </label>
                                    <div class="fs-18">SAR 18,000,000</div>
                                </div>                        
                            </div>

                            <div class="fs-18">Buyer Details</div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Purchase Order No
                                    </label>
                                    <div class="fs-18">00.00234</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Purchase Order Date
                                    </label>
                                    <div class="fs-18">17/05/2023</div>
                                </div>                        
                            </div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Invoice Due Date
                                    </label>
                                    <div class="fs-18">17/05/2023</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Shipment Date
                                    </label>
                                    <div class="fs-18">17/05/2023</div>
                                </div>                        
                            </div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Payment Terms
                                    </label>
                                    <div class="fs-18">5,000</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Invoice Currency
                                    </label>
                                    <div class="fs-18">100,000</div>
                                </div>                        
                            </div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Invoice Amount
                                    </label>
                                    <div class="fs-18">20,000</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Pre-Acceptance
                                    </label>
                                    <div class="fs-18">SAR 1,900.00</div>
                                </div>                        
                            </div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Discount Value
                                    </label>
                                    <div class="fs-18">5678</div>
                                </div>

                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Tax Value
                                    </label>
                                    <div class="fs-18">1234</div>
                                </div>                        
                            </div>

                            <div class="d-flex my-3">
                                <div class="form-group flex-fill w-50">
                                    <label class="text-secondary">
                                        Net Invoice Amount
                                    </label>
                                    <div class="fs-18">10,000</div>
                                </div>                 
                            </div>
                           
                            <div class="fs-12 text-secondary">
                                Note: The above account will be used for installment payment for the requested finance, and will also be used for deducting any associated fees and chargesNote: The above account will be used for installment payment for the requested finance, and will also be used for deducting any associated fees and charges
                            </div>

                            <div class="my-3">
                                <button type="button" class="btn btn-primary me-3 px-4" [routerLink]="['/form/finance-application-submitted']" routerLinkActive="router-link-active">Next</button>
                                <button type="button" class="btn btn-outline-primary px-4" [routerLink]="['/home']">Save as Draft</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

