<section class="new-finance-application">

    <div class="px-5 py-3">
        <img src="../../../assets/logos/logo-aion-sidebar.svg" width="150px">
    </div>
    
    <div class="container mb-4">
        <div class="row justify-content-center">

            <div class="col-10 col-md-8">

                <div class="d-flex justify-content-between">
                    <a routerLink="/form/finance-application" class="text-decoration-none d-flex align-items-center"> <img class="me-1" src="./assets/icons/back.svg"> back </a>
                    <a routerLink="/finance-application" class="text-decoration-none d-flex align-items-center"> Close Application <img class="ms-1" src="./assets/icons/close.svg"> </a>
                </div>

                <h1 class="fw-semibold mt-4">Finance Application</h1>
                <div class="fs-12 fw-semibold text-secondary">Get financing in just few clicks</div>

                <div class="card my-3 d-flex flex-row">

                    <div class="flex-fill border-end w-25">
                        <app-form-progress-list [navList]="navList" itemIndex="2">
                        </app-form-progress-list>
                    </div>
                    <div class="form flex-fill w-75 p-5 fw-semibold">

                        <form >
                            <h2 class="mb-3">Invoice Finance Eligibility</h2>
                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    SME ID
                                </label>
                                <div class="fs-18">00001123</div>
                            </div>
                            <div class="d-flex">
                                <div class="form-group flex-fill">
                                    <label class="text-secondary">
                                        SME Name
                                    </label>
                                    <div class="fs-18">Green Bank</div>
                                </div>
                                <div class="form-group flex-fill">
                                    <label class="text-secondary">
                                        Program Reference
                                    </label>
                                    <div class="fs-18">0000112356</div>
                                </div>
                        
                            </div>
                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Invoice Reference
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Invoice Creation Date
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Commodity Details
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Discount Percentage
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Tax Percentage
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Associated party
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="fs-18">Buyer Details</div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Purchase Order No
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Purchase Order Date
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Invoice Due Date
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Shipment Date
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Payment Terms
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Invoice Currency
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Invoice Amount
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Pre-Acceptance
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Discount Value
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Tax Value
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group my-3">
                                <label class="text-secondary">
                                    Net Invoice Amount
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div>
                                <button type="button" class="btn btn-primary me-3 px-4" [routerLink]="['/form/invoice-review-application']" routerLinkActive="router-link-active">Next</button>
                                <button type="button" class="btn btn-outline-primary px-4" [routerLink]="['/home']">Save as Draft</button>
                            </div>
                        </form>
                    
                    </div>

                </div>

            </div>

        </div>
    </div>

    

</section>