<section class="landing-page">

    <div class="d-flex justify-content-between align-items-center content-padding">
        <h5 class="fw-bold">FUND <span class="text-blue">EASY</span></h5>
        <div class="">
            <button class="btn me-5">Business loans</button>
            <button class="btn me-5">Invest</button>
            <button class="btn me-5">Blog</button>
            <button class="btn me-5">More</button>
            <button class="btn me-5" routerLink="/auth/signup">Login</button>
            <button class="btn btn-primary" routerLink="/auth/choose-signup-option">Get started</button>
        </div>
    </div>

    <div class="mt-5 content-padding">
        <div class="row">
            <div class="col-6">
                <div class="text-heading">
                    Bridging SMEs and Financiers closer
                </div>
                <div class="text-content my-5">
                    Digital Financing Marketplace! <br>
                    Are you looking to finance SME? Or <br> 
                    Looking to apply for SME finance?
                </div>
                <div class="my-5">
                    <button class="btn btn-lg btn-primary me-3">Start Financing</button>
                    <button class="btn btn-lg btn-primary">Start Borrowing</button>
                </div>
                <div class="my-5">
                    <a class="text-decoration-none">Read More</a>
                </div>
            </div>
            <div class="col-6 h-600-p overflow-y-hidden position-relative">
                <div class="position-absolute absolute-dots">
                    <img src="./assets/images/dots.svg">
                </div>
                <div class="bg-light-blue px-4">
                    <img src="./assets/images/person.svg">
                </div>
            </div>
        </div>
    </div>

    <div class="bg-dark-blue content-padding text-white py-5">
        <div class="row">
            <div class="col-6">
                <div class="text-sub-heading">
                    Are you COMPANY looking 
                    for business loans?
                </div>
                <div class="d-flex align-items-center my-5">
                    <div class="bg-primary rounded-4 p-2 me-3">
                        <img src="../../assets/icons/wallet.svg">
                    </div>
                    <div>
                        <span class="d-block fs-18 text-light-blue">Business loan from</span>
                        <span class="d-block fs-28 lh-1">SAR 50K - SAR 500k</span>
                    </div>
                </div>
                <div class="d-flex align-items-center my-5">
                    <div class="bg-primary rounded-4 p-2 me-3">
                        <img src="../../assets/icons/clock.svg">
                    </div>
                    <div>
                        <span class="d-block fs-18 text-light-blue">Decisions typically in</span>
                        <span class="d-block fs-28 lh-1">From instant to 3 days</span>
                    </div>
                </div>
                <div class="d-flex align-items-center my-5">
                    <div class="bg-primary rounded-4 p-2 me-3">
                        <img src="../../assets/icons/calendar-2.svg">
                    </div>
                    <div>
                        <span class="d-block fs-18 text-light-blue">Borrow for over</span>
                        <span class="d-block fs-28 lh-1">3 mths – 2 yrs</span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="text-sub-heading">
                    Are you INVESTOR looking 
                    for financing SME’s?
                </div>
                <div class="d-flex align-items-center my-5">
                    <div class="bg-primary rounded-4 p-2 me-3">
                        <img src="../../assets/icons/wallet.svg">
                    </div>
                    <div class="fs-22">
                        Configurable financing <br>
                        criteria
                    </div>
                </div>
                <div class="d-flex align-items-center my-5">
                    <div class="bg-primary rounded-4 p-2 me-3">
                        <img src="../../assets/icons/clock.svg">
                    </div>
                    <div class="fs-22">
                        100% digital finance <br>
                        workflow
                    </div>
                </div>
                <div class="d-flex align-items-center my-5">
                    <div class="bg-primary rounded-4 p-2 me-3">
                        <img src="../../assets/icons/calendar-2.svg">
                    </div>
                    <div class="fs-22">
                        Unified finance ready <br>
                        application access
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn px-5 py-3 text-white border-white">Read More</button>
            </div>
            <div class="col-6">
                <button class="btn px-5 py-3 text-white border-white">Read More</button>
            </div>
        </div>
    </div>


</section>