<section class="company-details">

    <div class="d-flex justify-content-between">
        <span class="fs-12 fw-semibold d-flex align-items-center">
            <img src="../../../../../assets/icons/info.svg" class="me-2">
            All the following information are validated and verified with trusted sources.&nbsp;
            <a href="">Learn More</a>
        </span>
        <button class="btn btn-outline-primary fs-12 fw-semibold px-4">Edit</button>
    </div>

    <div class="my-3">
        <span class="fw-semibold fs-18">Zerox L.L.C.</span>
    </div>

    <div class="fw-semibold my-3">
        Basic Information
    </div>

    <div class="p-3 fs-14 fw-semibold rounded bg-light">

        <div class="row">
            <span class="col-md-4 col-12 ">Commercial Registration No.</span>
            <span class="col-md-8 col-12  ">278346823764</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Date of issue</span>
            <span class="col-md-8 col-12 ">12/12/2002</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Date of expiry</span>
            <span class="col-md-8 col-12 ">12/12/2002</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Legal Entity Type</span>
            <span class="col-md-8 col-12 ">L.L.C.</span>
        </div>
        
    </div>

    <div class="fw-semibold my-3">
        Business Activities
    </div>

    <div div class="p-3 fs-14 fw-semibold rounded bg-light">

        <div class="row">
            <span class="col-md-4 col-12 ">Main Business Activity</span>
            <span class="col-md-8 col-12 ">Production & Manufacturing</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Business Activity</span>
            <span class="col-md-8 col-12 ">Real Estate</span>
        </div>

        <div class="row my-2">
            <span class="col-md-4 col-12 ">Sub Category</span>
            <span class="col-md-8 col-12 ">Construction, Management</span>
        </div>

    </div>

</section>