<section class="application-eligibility">

    <div class="fs-12 fw-semibold">
        <img src="./assets/icons/info.svg" class="me-2">
        All the following check-greenrmation are validated and verified with trusted sources.&nbsp;
        <a href="">Learn More</a>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-12 col-md-6">

                <!-- <div class="table-responsive"> -->

                    <table class="table my-3 fs-14 fw-semibold">
                        <thead>
                            <tr>
                                <th class="border-0">Eligibility</th>
                                <th class="border-0">Required</th>
                                <th class="border-0">Actual</th>
                                <th class="border-0">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-0 text-secondary">Age of Business in months</td>
                                <td class="border-0 text-secondary">> 6</td>
                                <td class="border-0">300</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Annual Turnover</td>
                                <td class="border-0 text-secondary">> 1MM</td>
                                <td class="border-0">3MM</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">POS Account Statement Duration in months</td>
                                <td class="border-0 text-secondary">=12</td>
                                <td class="border-0">12</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Finance Percentage of POS Sales</td>
                                <td class="border-0 text-secondary">< 35%</td>
                                <td class="border-0">20%</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Existing Finances</td>
                                <td class="border-0 text-secondary">-</td>
                                <td class="border-0">1 MM</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">New Finance</td>
                                <td class="border-0 text-secondary">-</td>
                                <td class="border-0">1.5 MM</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Total Finances</td>
                                <td class="border-0 text-secondary">-</td>
                                <td class="border-0">2.5 MM</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Annual Cash Flow Projections</td>
                                <td class="border-0 text-secondary">> 1 MM</td>
                                <td class="border-0">3 MM</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Annual Sales Projections</td>
                                <td class="border-0 text-secondary">> 1 MM</td>
                                <td class="border-0">3 MM</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Debt Burden Ratio (Current)</td>
                                <td class="border-0 text-secondary">< 60%</td>
                                <td class="border-0">43%</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Debt Burden Ratio (w/ New Finance)</td>
                                <td class="border-0 text-secondary">< 60%</td>
                                <td class="border-0">50%</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Overdue Loans with the bank</td>
                                <td class="border-0 text-secondary">0</td>
                                <td class="border-0">0</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Bounced Cheques</td>
                                <td class="border-0 text-secondary">0</td>
                                <td class="border-0">0</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">SIMAH Credit Bureau Score</td>
                                <td class="border-0 text-secondary">> 3.5</td>
                                <td class="border-0">4.7</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">PEP Check</td>
                                <td class="border-0 text-secondary">
                                    <img src="./assets/icons/check-gray.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-black.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">AML Check</td>
                                <td class="border-0 text-secondary">
                                    <img src="./assets/icons/check-gray.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-black.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Compliance Check</td>
                                <td class="border-0 text-secondary">
                                    <img src="./assets/icons/check-gray.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-black.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                            <tr>
                                <td class="border-0 text-secondary">Blacklist Check</td>
                                <td class="border-0 text-secondary">
                                    <img src="./assets/icons/check-gray.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-black.svg"></td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="warning-note p-3 rounded fs-14 fw-semibold text-secondary">
                        Based on the detailed criteria of the bank and the applicant's details and financial, the score cards value total is given below:
                    </div>
                    
                    <table class="table my-3 fs-14 fw-semibold">
                        <thead>
                            <tr>
                                <th class="border-0">Eligibility</th>
                                <th class="border-0">Required</th>
                                <th class="border-0">Actual</th>
                                <th class="border-0">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border-0 text-secondary">Applicant’s Score View <a class="text-decoration-none">Details</a></td>
                                <td class="border-0 text-secondary">> 8.1 / 10</td>
                                <td class="border-0">9.2/10</td>
                                <td class="border-0">
                                    <img src="./assets/icons/check-green.svg">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="fs-14 fw-bold px-2 mb-4">
                        Assessment Summary
                    </div>

                    <div class="fs-14 fw-semibold text-secondary px-2">
                        The applicant company has a 26 years of banking history with the bank. The supporting documentation is complete and satisfactory. The company business, cash flow and sales projections, and annual turnover are healthy. The company is requesting for a running finance, and the payments will be to the company’s supplier against invoices and inventory value. The company’s cash and property collateral with the bank are adequately covering the exposure of the bank with full recourse.
                    </div>

            </div>
        </div>

    </div>

</section>