<section class="compare-offers mx-3 mb-3">

    <h1 class="fw-semibold my-4">POS Financing</h1>

    <div class="border rounded p-3 bg-white w-100">

        <h5 class="pb-3">Compare and Choose Offers</h5>

        <p class="fs-12 text-secondary fw-semibold">
            For your convenience, we have compiled the highlighting features of each offer available from the <br> 
            banks, and that’s not all, we have even checked eligibility for your company and indicated the best <br>
            matched offer with a 5-star rating system
        </p>

        <div class="container-fluid">

            <div class="row fw-semibold fs-14 my-3">
    
                <div class="col">
                    <div class="border border-end-0 bg-light mt-3">
                        <div class="p-2 border-bottom fs-18">Bank Name​</div>
                        <div class="p-2 border-bottom">Finance Type​</div>
                        <div class="p-2 border-bottom">Min. Finance Amount​</div>
                        <div class="p-2 border-bottom">Max. Finance Amount​</div>
                        <div class="p-2 border-bottom">Max. Tenor​</div>
                        <div class="p-2 border-bottom">Rate p.a.​</div>
                        <div class="p-2 border-bottom">Fees & Charges​</div>
                        <div class="p-2 border-bottom">Repayment</div>
                        <div class="p-2">Your Eligibility Rating​</div>
                    </div>
                </div>
                <div class="col">
                    <div class="border border-end-0 mt-3">
                        <div class="p-2 border-bottom fs-18 text-center">ABC</div>
                        <div class="p-2 border-bottom">POS Finance​</div>
                        <div class="p-2 border-bottom">SAR 1 Million​</div>
                        <div class="p-2 border-bottom">SAR 15 Million</div>
                        <div class="p-2 border-bottom">48 Months​</div>
                        <div class="p-2 border-bottom">2% to 15%​</div>
                        <div class="p-2 border-bottom">0% to 5%​</div>
                        <div class="p-2 border-bottom">Monthly Installments</div>
                        <div class="p-2 border-bottom">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-gray.svg">
                        </div>
                        <div class="p-2 text-center">
                            <a class="text-decoration-none d-block mb-2 pointer">
                                More Details
                            </a>
                            <button class="btn btn-outline-primary w-100">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="border border-end-0 mt-3">
                        <div class="p-2 border-bottom fs-18 text-center">UVW</div>
                        <div class="p-2 border-bottom">POS Finance​</div>
                        <div class="p-2 border-bottom">SAR 0.1 Million​</div>
                        <div class="p-2 border-bottom">SAR 18 Million</div>
                        <div class="p-2 border-bottom">60 Months​</div>
                        <div class="p-2 border-bottom">1% to 10%​</div>
                        <div class="p-2 border-bottom">1% to 2%​</div>
                        <div class="p-2 border-bottom">Monthly Installments</div>
                        <div class="p-2 border-bottom">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-gray.svg">
                        </div>
                        <div class="p-2 text-center">
                            <a class="text-decoration-none d-block mb-2 pointer">
                                More Details
                            </a>
                            <button class="btn btn-outline-primary w-100">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col position-relative">
                    <div class="position-absolute top-0 start-50 translate-middle badge fs-12 bs-success bg-subtle fw-semibold">
                        Best Offer
                    </div>
                    <div class="border green-bank rounded shadow">
                        <div class="p-2 pt-4 border-bottom fs-18 text-center">Green Bank</div>
                        <div class="p-2 border-bottom">POS Finance​</div>
                        <div class="p-2 border-bottom">SAR 2 Million​</div>
                        <div class="p-2 border-bottom">SAR 5 Million</div>
                        <div class="p-2 border-bottom">50 Months​</div>
                        <div class="p-2 border-bottom">1% to 15%​</div>
                        <div class="p-2 border-bottom">0% to 1%​</div>
                        <div class="p-2 border-bottom">Monthly Installments</div>
                        <div class="p-2 border-bottom">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-gray.svg">
                        </div>
                        <div class="p-2 pb-3 text-center">
                            <a class="text-decoration-none d-block mb-2 pointer">
                                More Details
                            </a>
                            <button class="btn btn-primary w-100">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="border border-start-0 mt-3">
                        <div class="p-2 border-bottom fs-18 text-center">XYZ</div>
                        <div class="p-2 border-bottom">POS Finance​</div>
                        <div class="p-2 border-bottom">SAR 0.1 Million​</div>
                        <div class="p-2 border-bottom">SAR 2.5 Million</div>
                        <div class="p-2 border-bottom">36 Months​</div>
                        <div class="p-2 border-bottom">1% to 3%​</div>
                        <div class="p-2 border-bottom">0% to 0.5%​</div>
                        <div class="p-2 border-bottom">Monthly Installments</div>
                        <div class="p-2 border-bottom">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-green.svg">
                            <img class="me-1" src="./assets/icons/star-gray.svg">
                        </div>
                        <div class="p-2 text-center">
                            <a class="text-decoration-none d-block mb-2 pointer">
                                More Details
                            </a>
                            <button class="btn btn-outline-primary w-100">
                                Accept
                            </button>
                        </div>
                    </div>
                </div>
    
            </div>

        </div>

    </div>

</section>