<section class="financial-information">

    <div class="d-flex justify-content-between">
        <span class="fs-12 fw-semibold d-flex align-items-center">
            <img src="./assets/icons/info.svg" class="me-2">
            All the following information are validated and verified with trusted sources.&nbsp;
            <a href="">Learn More</a>
        </span>
        <button class="btn btn-outline-primary fs-12 fw-semibold px-4">Edit</button>
    </div>

    <div class="fw-semibold my-3">
        Financial Information
    </div>

    <div class="table-responsive my-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>More than 365 Days​</th>
                    <th>180-365 Days​</th>
                    <th>90-180 Days​</th>
                    <th>Up to 90 Days</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Receivables</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Payables</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Net</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="table-responsive my-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Document Name</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>In-house Financial</td>
                    <td class="text-center">
                        <img class="mx-2" src="./assets/icons/view.svg" alt="">
                        <img class="mx-2" src="./assets/icons/edit.svg" alt="">
                        <img class="mx-2" src="./assets/icons/delete.svg" alt="">
                    </td>
                </tr>

                <tr>
                    <td>Audited Financial</td>
                    <td class="text-center">
                        <img class="mx-2" src="./assets/icons/view.svg" alt="">
                        <img class="mx-2" src="./assets/icons/edit.svg" alt="">
                        <img class="mx-2" src="./assets/icons/delete.svg" alt="">
                    </td>
                </tr>

                <tr>
                    <td>Account Statement(s)</td>
                    <td class="text-center">
                        <img class="mx-2" src="./assets/icons/view.svg" alt="">
                        <img class="mx-2" src="./assets/icons/edit.svg" alt="">
                        <img class="mx-2" src="./assets/icons/delete.svg" alt="">
                    </td>
                </tr>

                <tr>
                    <td>POS Statement(s)</td>
                    <td class="text-center">
                        <img class="mx-2" src="./assets/icons/view.svg" alt="">
                        <img class="mx-2" src="./assets/icons/edit.svg" alt="">
                        <img class="mx-2" src="./assets/icons/delete.svg" alt="">
                    </td>
                </tr>

                <tr>
                    <td>Credit Report</td>
                    <td class="text-center">
                        <img class="mx-2" src="./assets/icons/view.svg" alt="">
                        <img class="mx-2" src="./assets/icons/edit.svg" alt="">
                        <img class="mx-2" src="./assets/icons/delete.svg" alt="">
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

</section>